body {
    background-color: rgb(235, 241, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

h1 {
    display: flex;
    justify-content: center; 
}

h2 {
    display: flex;
    justify-content: center; 
}

.links {
    display: grid;
    grid-template-columns: 2;
    gap: 2px
}

a {
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    border: 1px solid #ff5349;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    color: #ff5349
}

.nice-note {
    font-size: x-large;
}